In [36]:
print('Hello World')

Hello World

In [37]:
x = 1
x = x + 5
print(type(x))
y = "Sun*"
print(type(y))

<class 'int'>
<class 'str'>

In [38]:
y = 5
print(type(y))

<class 'int'>

In [39]:
0.1 + 0.1 + 0.1 == 0.3

False

In [40]:
0.1 + 0.1 + 0.1 + 0.1 + 0.1 == 0.5

True

In [41]:
age = 20
if age > 18:
    print('Du tuoi')
else:
    print('Khong du tuoi')

Du tuoi

In [42]:
grade = 80
if grade >= 80:
    print('A')
elif grade >= 60:
    print('B')
else:
    print('C')

A

In [43]:
a = float(input())
b = float(input())
c = float(input())
if (a + b) > c and (c + b) > a and (a + c) > b:
    print('OK')
else:
    print('Not ok')

12
3
4
Not ok

In [44]:
a, b, c = map(float,input().split())
if (a + b) > c and (c + b) > a and (a + c) > b:
    print('OK')
else:
    print('Not ok')

12 7 8
OK

In [5]:
n = input("You're in the lost forest. go left or right?")
while n == "right":
    n = input("You're in the lost forest. go left or right?")
print("You're got out of the lost forest")

You're in the lost forest. go left or right?rights
You're got out of the lost forest

In [7]:
for i in range(10):
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [8]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [2]:
i = 1
while i < 10:
    if i % 2:
        print(i)
    i += 1

1
3
5
7
9

In [3]:
mysum = 0
for i in range(7, 10):
    mysum += i
print(mysum)

24

In [4]:
mysum = 0
for i in range(5, 11, 2):
    mysum += i
print(mysum)

21

In [5]:
mysum = 0
for i in range(5, 11, 2):
    mysum += i
    if mysum == 5:
        break
    mysum += 1
print(mysum)

5

In [23]:
f0 = 1
f1 = 1
n = int(input("Nhap so n: "))
if n == 0:
    print("1")
if n == 1:
    print("1 1")
else:
    print("1 1", end = " ")
    for i in range(n-2):
        f2 = f0 + f1
        print(f2, end = " ")
        f0 = f1
        f1 = f2

Nhap so n: 20
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [14]:
def fibonacci(n):
    f1,f2 = 1, 1
    for i in range(n):
        print(f2, end = " "
        f1, f2 = f1 + f2, f1

In [21]:
fibonacci(20)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [25]:
def changeVND2USD(n):
    usd = n / 23000
    return usd

changeVND2USD(4554545)

198.0236956521739

In [27]:
def hello(name_man= "Bro", name_woman= "Sis"):
    print("Hello, " + name_man + " & " + name_woman + "!")
hello()
hello(name_woman= "Lady")
hello(name_woman= "abc", name_man= "test")

Hello, Bro & Sis!
Hello, Bro & Lady!
Hello, test & abc!

In [34]:
import math
print(math.log2(4))

2.0

In [35]:
from math import sqrt
print(sqrt(6))

2.449489742783178

In [56]:
a = "Sun* AI research team"
print(a[3])
print(a[:4])
print('AI' in a)
print(len(a))
print(a + "?")
print(a.upper())
print(a.replace("I", "i"))

*
Sun*
True
21
Sun* AI research team?
SUN* AI RESEARCH TEAM
Sun* Ai research team

In [63]:
# a.split("") # error
print(a.split(" "))
b = a.split(" ")
"~".join(b)

['Sun*', 'AI', 'research', 'team']

'Sun*~AI~research~team'

In [64]:
a

'Sun* AI research team'

In [65]:
a.split()

['Sun*', 'AI', 'research', 'team']

In [66]:
'*'.join(_)

'Sun**AI*research*team'

In [67]:
a[0] = "M"
a

TypeError: 'str' object does not support item assignment

In [72]:
a.replace("S", "M")

'Mun* AI research team'

In [87]:
x = [1, 2, 3, 4]
x[0] = 5
x.append(7)
x

[5, 2, 3, 4, 7]

In [88]:
def process_list(x):
    x[0] = 4
    return x
process_list(x)
x

[4, 2, 3, 4, 7]

In [93]:
a = ["Python", "is", "cool"]
print(a.sort())
print(a[:2])
print(len(a))
print(a + ["!"])
a[2] = "hot"
a

None
['Python', 'cool']
3
['Python', 'cool', 'is', '!']

['Python', 'cool', 'hot']

In [96]:
l = list()
for i in range(0, 11, 2):
    l.append(i)
l

[0, 2, 4, 6, 8, 10]

In [99]:
l = list(i for i in range(0,11,2))
l

[0, 2, 4, 6, 8, 10]

In [102]:
a = [t.replace("o", "i") for t in ["Python", "is", "cool"] if len(t) > 3]
a

['Pythin', 'ciil']

In [ ]:
# []: list
# {}: set
# (): tuple
# {a : b}: dictionary

In [103]:
x = [0, 1, 2, 0, 0, 1, 2, 2]
y = {0, 1, 2, 0, 0, 1, 2, 2}

print(x)
print(y)
print(y & {1, 2, 3})
print(y | {1, 2, 3})
print(y - {1, 2, 3})

[0, 1, 2, 0, 0, 1, 2, 2]
{0, 1, 2}
{1, 2}
{0, 1, 2, 3}
{0}

In [104]:
class Person:
    def __init__(self, first, last):
        self.firstname = first
        self.lastname = last
    
    def describe(self):
        return self.firstname + " " + self.lastname

guido = Person("Guido", "Van Rossum")
print(guido.describe())

Guido Van Rossum

In [105]:
class Employee(Person):
    def __init__(self, first, last, staffnum):
        Person.__init__(self, first, last)
        self.staffnum = staffnum
    
    def describe(self):
        return self.lastname + ", " + str(self.staffnum)

guido = Employee("Guido", "Van Rossum", 12345)
print(guido.describe())

Van Rossum, 12345